<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/framework7.ios.css" type="text/css">
    <link rel="stylesheet" href="/css/framework7.ios.colors.css" type="text/css">
    <link rel="stylesheet" href="css/framework7.indexed-list.css">
    <link rel="stylesheet" href="/css/framework7-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/my-app.css" type="text/css">
    <script>
        var appId= '{{appId}}'; // 必填，公众号的唯一标识
        var timestamp= '{{timestamp}}'; // 必填，生成签名的时间戳
        var nonceStr= '{{nonceStr}}'; // 必填，生成签名的随机串
        var signature= '{{signature}}';// 必填，签名
        var jsapi_ticket= '{{jsapi_ticket}}';
    </script>
</head>
<body>

<!-- Right panel with cover effect-->
<div class="panel panel-right panel-cover" style="width: 80%;opacity: 0.6">

    <div class="content-block-title col-20 filter-title">排序</div>
    <div class="content-block">
        <div class="row">
            <div class="col-20"><a href="#" class="button filter"><b>新上架</b></a></div>
            <div class="col-20"><a href="#" class="button filter">最热门</a></div>
            <div class="col-20"><a href="#" class="button filter">好评榜</a></div>
            <div class="col-20"></div>
            <div class="col-20"></div>
        </div>
    </div>

    <div class="content-block-title col-20 filter-title">类型</div>
    <div class="content-block">
        <div class="row">
            <div class="col-20"><a href="#" class="button filter"><b>全部</b></a></div>
            <div class="col-20"><a href="#" class="button filter">爱情</a></div>
            <div class="col-20"><a href="#" class="button filter">喜剧</a></div>
            <div class="col-20"><a href="#" class="button filter">科幻</a></div>
            <div class="col-20"><a href="#" class="button filter">动画</a></div>
        </div>
        <div class="row">
            <div class="col-20"><a href="#" class="button filter">动作</a></div>
            <div class="col-20"><a href="#" class="button filter">犯罪</a></div>
            <div class="col-20"><a href="#" class="button filter">悬疑</a></div>
            <div class="col-20"><a href="#" class="button filter">剧情</a></div>
            <div class="col-20"><a href="#" class="button filter">玄幻</a></div>
        </div>
    </div>

    <div class="content-block-title col-20 filter-title">地区</div>
    <div class="content-block">
        <div class="row">
            <div class="col-20"><a href="#" class="button filter"><b>全部</b></a></div>
            <div class="col-20"><a href="#" class="button filter">中国大陆</a></div>
            <div class="col-20"><a href="#" class="button filter">香港</a></div>
            <div class="col-20"><a href="#" class="button filter">台湾</a></div>
            <div class="col-20"><a href="#" class="button filter">韩国</a></div>
        </div>
        <div class="row">
            <div class="col-20"><a href="#" class="button filter">美国</a></div>
            <div class="col-20"><a href="#" class="button filter">日本</a></div>
            <div class="col-20"><a href="#" class="button filter">泰国</a></div>
            <div class="col-20"><a href="#" class="button filter">英国</a></div>
            <div class="col-20"><a href="#" class="button filter">法国</a></div>
        </div>
        <div class="row">
            <div class="col-20"><a href="#" class="button filter">德国</a></div>
        </div>
    </div>
    <div class="footer">
        <div style="padding: 10px">
            <a href="#" class="button" style="background: white">完成</a>
        </div>
    </div>

</div>
<div class="panel-overlay"></div>
<div class="statusbar-overlay"></div>

<div class="views">
    <div class="view view-main">
        <div class="pages">
                {{{body}}}
        </div>
    </div>
</div>

<div class="popup popup-search">
    <div class="view">
        <div class="pages">
            <div class="page">

                <div class="pages">
                    <div data-page="searchbar" class="page">
                        <form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar-init">
                            <div class="searchbar-input">
                                <input type="search" placeholder="搜索影吧"/><a href="#" class="searchbar-clear"></a>
                            </div><a href="#" class="searchbar-cancel link close-popup">搜索</a>
                        </form>
                        <div class="searchbar-overlay" style="opacity: 0.7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/framework7.js"></script>
<script type="text/javascript" src="js/framework7.indexed-list.js"></script>
<script type="text/javascript" src="js/jweixin-1.1.0.js"></script>
<script type="text/javascript" src="js/my-app.js"></script>
